* {
  margin: 0px;
  box-sizing: border-box;
}

nav {
  background-image: linear-gradient(to top, darkorange, black);
  color: white;
  text-align: center;
  padding-top: 2%;
  width: 100%;
  height: 14vh;
  font-size: 25px;
  text-shadow: 3px 3px 9px black;
}

h1 {
  font-weight: bolder;
  line-height: 1%;
}

aside {
  position: absolute;
  background-image: linear-gradient(to bottom, darkorange, black);
  height: 90vh;
  width: 20%;
  padding-top: 30px;
  border-top: 1px solid black;
  display: inline-block;
}

.list1 {
  font-size: 21px;
  cursor: pointer;
}
option {
  color: white;
  margin-top: 48px;
  margin-left: -9px;
  text-shadow: 3px 3px 9px black;
  padding-left: 21px;
  margin-right: 12px;
  transition: 1 s all;
}

option:hover {
  background-color: darkorange;
  border-radius: 20px;
}

h2 {
  text-align: center;
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px 9px black;
  font-size: 25px;
}

.selected-option {
  text-decoration: overline solid white;
  font-size: 24px;
  font-weight: bold;
  margin-left: -14px;
}

a {
  text-decoration: none;
  color: white;
}

#upload-form {
  display: inline-block;
  border: 2px solid darkorange;
  padding-top: 50px;
  border-radius: 20px;
  margin-left: 38%;
  margin-top: 2%;
  padding-right: 140px;
  padding-bottom: 70px;
  padding-left: 140px;
  background-color: bisque;
}

#upload-form #submit {
  background: darkorange;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 35px;
  position: absolute;
  margin-left: -149px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

#upload-form input {
  width: 100%;
  height: 5vh;
  font-family: times new roman;
  text-align: center;
  border: none;
}

#upload-aboutus {
  display: inline-block;
  border: 2px solid darkorange;
  padding-top: 50px;
  border-radius: 20px;
  margin-left: 33%;
  padding-right: 140px;
  padding-bottom: 70px;
  padding-left: 140px;
  background-color: bisque;
  margin-top: 2%;
}

#upload-aboutus #submit {
  background: darkorange;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 13px;
  position: absolute;
  margin-left: 235px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

#admin-table {
  display: inline-block;
  border: 3px solid darkorange;
  width: 77%;
  margin-top: 1.5%;
  margin-left: 21.5%;
}

#admin-table th {
  width: 1%;
  background-image: linear-gradient(to bottom, darkorange, black);
  color: white;
  line-height: 2;
}
#admin-table td {
  text-align: center;
}

#admin-table #edit {
  color: white;
  background-color: blue;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

#admin-table #del {
  color: white;
  background-color: red;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
